.btn {
  background-color: $c-blue;
  padding: 15px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: $c-white;
  box-shadow: 0px 5px 8px #2E8FF029;
  min-width: 120px;

  &[disabled] {
    opacity: 0.6;
  }

  &--general {
    background-color: $c-blue;
  }

  &--error {
    background-color: $c-red;
    box-shadow: 0px 5px 8px #F4468229;
  }

}
