.input-group {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &__label {
    display: block;
    font-size: 13px;
    color: $c-black;
    margin-bottom: 3px;
  }

  &--error {
    .input-group__input {
      border: 1px solid $c-error;
    }
  }

  &__input {
    width: 100%;
    border-radius: 6px;
    padding: 13px 16px;
    outline: none;
    color: $c-black;
    border: 1px solid $c-light;
    background-color: $c-light;



    &--email {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bfill:%23ccd2e2;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,0H24V24H0Z'/%3E%3Cpath class='b' d='M12.72,2.03A9.991,9.991,0,0,0,2.03,12.72,10.191,10.191,0,0,0,12.31,22H16a1,1,0,0,0,0-2H12.33a8.274,8.274,0,0,1-8.08-6.03,8.027,8.027,0,0,1,9.71-9.71A8.251,8.251,0,0,1,20,12.33v1.1A1.616,1.616,0,0,1,18.5,15,1.616,1.616,0,0,1,17,13.43V12.18a5.114,5.114,0,0,0-4.26-5.12,5.005,5.005,0,1,0,2.8,8.48,3.7,3.7,0,0,0,4.3,1.21A3.56,3.56,0,0,0,22,13.41V12.32A10.193,10.193,0,0,0,12.72,2.03ZM12,15a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left 16px center;
      padding-left: 46px;
    }

    &--select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bfill:%23a4a4b5;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,0H24V24H0Z'/%3E%3Cpath class='b' d='M8.71,11.71,11.3,14.3a1,1,0,0,0,1.41,0l2.59-2.59A1,1,0,0,0,14.59,10H9.41A1,1,0,0,0,8.71,11.71Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position-x: 98%;
      background-position-y: 10px;
    }
  }

  &__error {
    margin-top: 3px;
    color: $c-error;
    font-size: 13px;
  }
}
