<div class="table-wrapper">
  <div class="button-wrapper">
    <button class="btn btn-general" (click)="isUserViewOpened = true; activeUser = null;">Create user</button>
  </div>
  <table>
    <thead>
    <tr>
      <td>
        Username
      </td>
      <td>
        First name
      </td>
      <td>
        Last name
      </td>
      <td>
        Email
      </td>
      <td>
        Type
      </td>
    </tr>
    </thead>
    <tbody>
    <tr (click)="activeUser = user; isUserViewOpened = true" *ngFor="let user of users">
      <td>
        {{ user.username }}
      </td>
      <td>
        {{ user.first_name }}
      </td>
      <td>
        {{ user.last_name }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.user_type }}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-user-view *ngIf="isUserViewOpened" [users]="users" [activeUser]="activeUser" (save)="saveUser($event)" (delete)="deleteUser($event)" (close)="isUserViewOpened = false" (add)="addUser($event)"></app-user-view>
