//fonts
$f-primary: Helvetica, Arial, Verdana, sans-serif;


//colors
$c-bg: #EEF0F8;
$c-error: #EF7DA0;
$c-red: #F44682;
$c-success: #66BB6A;
$c-blue: #2E8FF0;
$c-white: #FFFFFF;
$c-black: #3F4254;
$c-light: #F4F5F8;
$c-gray: #A4A4B5;

$transition-theme-time: 1s;

$shadow-primary: 0px 0px 30px #523F690D;;
